.skin5 {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
  background: #000;
}
.example-icon {
  padding: 0 14px;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.coleure {
  background-color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: whith;
  color: #fff;
}
.coleure1{
  background-color: rgb(216, 216, 212);
  
  color: #fff; 

}
.color_a{
  color: rgb(100, 100, 235);
}
.green-color {
  color:green;
}
#numero{
  color: #47b2e4;
  font-size: 15pt;
}
#whatsapp{
  font-size: 16pt;
}
.test{
  color: rgb(0, 0, 0);
}

.tel{
  padding: 10px;
  background-color: rgb(34, 12, 158);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin : 15px 1px ;
  
}