.skin5 {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
  background: #000;
}
.example-icon {
  padding: 0 14px;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.coleure {
  background-color: #000;
}
p,
h4,
h3 {
  color: #fff;
}
.color1 {
  color: #fff;
}
