/* header {
  padding: 12px 0;
  background: #222;
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu ul li {
  list-style-type: none;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin-left: 24px;
}
.menu ul li:hover {
  color: rgb(74, 75, 0);
  cursor: pointer;
  transition: 0.4 ease-in-out;
}
@media only screen and (max-width: 999px) {
  .menu {
    position: fixed;
    right: -280px;
    top: 64px;
    height: 100%;
    width: 250px;
    background: rgb(185, 175, 175);
  }
  .menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10 px 26px;
    border-bottom: 1px solid #312f2f;
  }
  .menu_icon {
    display: inline-block;
    position: relative;
    right: 0;
    top: 20px;
  }
  .menu_icon span {
    width: 32px;
    height: 3px;
    background: #fff;
    display: block;
    transition: 0.4s ease-in-out;
  }
  .menu_icon span:nth-child(2) {
    margin: 4px 0;
  }
  .menu_icon_class span:nth-child(2) {
    display: none;
  }
  .menu_icon_class span:nth-child(1) {
    transform: rotate(40deg);
  }
  .menu_icon_class span:nth-child(3) {
    transform: rotate(-40deg);
    margin-top: -3px;
  }
  .menuClass {
    right: 0;
    transition: 0.4s ease-in-out;
  }
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
 */

/* Donnees du nouveau menu */
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
