<!-- source du temnplate: https://codepen.io/Rh2o/pen/yLgxJoG -->
<h2>Mydoc</h2>
<div class="container " id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Create Account</h1>
            <div class="social-container">
                <!--  <a href="#" class="social"><i class="fab fa-facebook-f"></i></a> -->
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <!-- <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
            </div>
            <div id='signUp'>
                <span>Utilisez votre adresse mail pour vous connecter</span>
                <input type="text" placeholder="Name" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" required />
                <button>creer compte</button>
            </div>
        </form>
    </div>
    <div class="form-container sign-in-container">

        <form *ngIf="statutDom" [formGroup]="loginform">
            <h1>Sign in</h1>
            <div class="social-container">
                <!--  <button (click)=" faceboock()" class="social"><i class="fab fa-facebook-f"></i></button> -->
                <button (click)="loginGoogle()" class="social"><i class="fab fa-google-plus-g"></i></button>
                <!--  <button class="social"><i class="fab fa-linkedin-in"></i></button> -->
            </div>
            <span>Vous conneter avec votre adresse mail</span>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" [formControl]="email" required />


            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" [formControl]="pasword" required />
            </div>
            <button (click)="connexion()">Connecter</button>

            <!--  <a href="http://localhost:49273/connexion" (click)="resetPass()"></a> -->
            <button (click)="resetPass()" class="couleur">Mot de passe oublié</button>
            <button (click)="premutationDom2()" class="couleur">Creer compte avec Email</button>
            <button (click)="premutationDom3()" class="couleur">Se connecter via Tel </button>




        </form>
        <!-- voici la partie du html pour la creation d'un compte -->


        <form *ngIf="statutDom1" [formGroup]="loginform">
            <h1>Sign up</h1>
            <div class="social-container">
                <!--  <button class="social"><i class="fab fa-facebook-f"></i></button> -->
                <button (click)="loginGoogle()" class="social"><i class="fab fa-google-plus-g"></i></button>
                <!--  <button class="social"><i class="fab fa-linkedin-in"></i></button> -->
            </div>

            <span>Utilisez votre adresse mail pour vous connecter</span>
            <!--   <div class="form-group">

                <input type="text" class="form-control" placeholder="Name" [formControl]="nom" required />
            </div> -->
            <div class="form-group">

                <input type="email" class="form-control" placeholder="Email" [formControl]="email" required />
            </div>

            <div class="form-group">

                <input type="password" class="form-control" placeholder="Password" [formControl]="pasword" required />
            </div>

            <button (click)="creerCompte()">creer compte</button>
            <button (click)="premutationDom1()" class="couleur">Se connecter</button>
            <button (click)="premutationDom3()" class="couleur">Se connecter via Tel </button>


        </form>
        <form *ngIf="statutDom2">
            <div class="social-container">
                <!--  <button class="social"><i class="fab fa-facebook-f"></i></button> -->
                <button (click)="loginGoogle()" class="social"><i class="fab fa-google-plus-g"></i></button>
                <!-- <button class="social"><i class="fab fa-linkedin-in"></i></button> -->
            </div>
            <div class="social-container">
                <div class="form-input">
                    <input type="text" name="phoneNumber" placeholder="Phone Number" class="form-control"
                        placeholder="Numero: (+237XXXXXXX)" [(ngModel)]="phoneNumber">
                </div>
                <button (click)="getOTP()">Verifier</button>
                <div id="sign-in-button"></div>
            </div>
            <button (click)="premutationDom2()" class="couleur">Creer compte avec Email</button>
            <button (click)="premutationDom1()" class="couleur">Se connecter</button>
        </form>


    </div>
    <div class="overlay-container ">
        <div class="overlay">
            <div class="overlay-panel overlay-left">

            </div>
            <div class="overlay-panel overlay-right">
                <h1>Bienvenu sur Mydoc Cameroun</h1>

                <p>
                    <<<= Veuillez vous conneter pour beneficier de notre service Ultra Rapide </p>
                        <a href="https://mydoc.cm/"> <button class="couleur1">Accueil</button></a>

            </div>
        </div>

    </div>


</div>