<div class="row">


    <div class="col-12 ">
        <div class="card">
            <div class="card-body text-center">




                <ngb-carousel>
                    <ng-template ngbSlide>
                        <img src="assets/images/users/f1.jpg" alt="Random first slide">
                        <div class="carousel-caption">
                            <h4 class="text-white font-bold">First slide label</h4>
                            <p>Ingeneur Gueyap.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/users/f2.png" alt="Random second slide">
                        <div class="carousel-caption">
                            <h4 class="text-white font-bold">Second slide label</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <img src="assets/images/users/f3.png" alt="Random second slide">
                        <div class="carousel-caption">
                            <h4 class="text-white font-bold">Second slide label</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </ng-template>

                </ngb-carousel>


            </div>
            <!--  bouton de connection sur le pied de page  -->

            <div class="row button-group justify-content-center ">
                <div class="col-lg-2 col-md-4 ">
                    <button class="bout-center" type="button" class="btn btn-rounded btn-block btn-success">Se
                        Connecter</button>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-lg-4 button-group">
        <div class="card">
            <div class="card-body">
                <br>
                <h4 class="card-title">Nos Reseaux</h4>
                <!--    <h6 class="card-subtitle">Use a classes <code>btn btn-rounded btn-success</code> to quickly create a
                    General btn.</h6> -->
                <a href="https://angular.io/"> <button class="btn btn-facebook waves-effect btn-rounded waves-light"
                        type="button"> <i class="fab fa-facebook-f"></i> </button></a>
                <button class="btn btn-twitter waves-effect btn-rounded waves-light" type="button"> <i
                        class="fab fa-twitter"></i> </button>
                <button class="btn btn-googleplus waves-effect btn-rounded waves-light" type="button"> <i
                        class="fab fa-google-plus"></i> </button>
                <button class="btn btn-linkedin waves-effect btn-rounded waves-light" type="button"> <i
                        class="fab fa-linkedin"></i> </button>
                <button class="btn btn-instagram waves-effect btn-rounded waves-light" type="button"> <i
                        class="fab fa-instagram"></i> </button>
                <button class="btn btn-pinterest waves-effect btn-rounded waves-light" type="button"> <i
                        class="fab fa-pinterest"></i> </button>
                <button class="btn btn-youtube waves-effect btn-rounded waves-light" type="button"> <i
                        class="fab fa-youtube"></i> </button>
            </div>
        </div>
    </div>
</div>